<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Explosion Addin</Name><AddInID>{c9d7981e-57b3-4da9-a06c-2a02978b46f3}</AddInID><Description>Albert Square Explosion Model</Description><Version>0.2</Version><Image /><Author>SJMurray</Author><Company>Untitled</Company><Date>02/08/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Explosion Assessment" category="Explosion Addin" class="ExplosionButtonClass" id="addin_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="ComboBox" category="Explosion Addin" class="ComboBoxClass7" id="addin_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Model Toolbar" category="Explosion Addin" id="addin_addin.modeltoolbar" showInitially="true"><Items><Button refID="addin_addin.button" /><ComboBox refID="addin_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>